*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;

}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px; 
    padding-top: 40px;
    margin: auto;

}

.sidebar{
    height: 100vh;
    background-color: #2a2a2a;
    /* border: 1px solid #3a3a3a; */
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 20px;
    border: 1px solid #FFBF00;

}

.main-content{
    /* height: 90vh; */
    background-color:#2a2a2a;
    border: 1px solid #FFBF00;
    border-radius: 16px;
    padding: 40px;

}
/*profile section */

.profile {
    text-align: center;

}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;

}

.profile h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile span{
    background-color: #1e1e1e;
    padding: 7px ;
    color: #FFBF00;
    border: 1px solid #FFBF00;
    font-size: 14px;
    font-weight: 600;;
    border-radius: 10px;
    margin-top: 20px;
}

/* contact information */

.contact {
    margin-top: 30px;
    border-top: 2px solid #FFBF00;
    padding-top: 20px;

}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color:#e0e0e0;
    text-decoration: none;
}

.email,.contactNo,.location {
    margin-bottom: 5px;
}

/* social media */

.social{
     margin-top: 30px;
    border-top: 2px solid #FFBF00;
    padding-top: 50px;
    text-align: center;

}

.social img{
    height: 30px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social img:hover{
    filter: grayscale(0) invert(0);

}

/* main content */

/* navigation */

.navigation{
    /* padding: 30px 40px; */
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 30px;
    padding-bottom: 40px;
   
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    border-bottom: 1px solid #FFBF00;
    margin-top: 5px;
    margin-bottom: 20px;

   
}
nav a{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
    

}

.active, nav a:hover{
    color:#FFBF00;

}

/* about me */

.heading{
    color:#e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 40px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color:#a0a0a0;
}

#about{
    margin-bottom: 30px;
}

/* skills section */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 20px;

}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #FFBF00;
    background-color:#1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, boxshadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
    
}

.item:hover{
    transform: scale(1.1); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}


/* Education */

#Education{
    margin-top: 100px;
}

.edtech{
    position:relative;
    margin-top: 20px;

}


.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color:#a0a0a0;
    margin-bottom: 10px;
    
}

.CGPA{
    color: #a0a0a0;

}

.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border: 5px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}

.liner{
    position:absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #3a3a3a;


}

.Experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.Experience{
    background-color: #1e1e1e;
    border-radius: 12px;
    /* border: 1px solid #3a3a3a; */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.Experience-container{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
     border: 1px solid #FFBF00;
}

.Experience-container img{
    /* height: 180px; */
    height:100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    /* background-color: #FFBF00; */
    filter: invert(100%) sepia(100%) hue-rotate(350deg) brightness(100%) contrast(80%);
    
     border: 3px solid #FFBF00
}

.card{
    background-color: #1e1e1e;
    border-radius: 12px;
    /* border: 1px solid #3a3a3a; */
    border: 1px solid #FFBF00;
    overflow: hidden;
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color:#a0a0a0;
    line-height: 1.6;
    margin-bottom: 20px;

}

.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
.Education{
    color:#e0e0e0;
}

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position:static;
        height:90vh;

    }
    
}
#download{
    
    background-color: #1e1e1e;
    padding: 8px 10px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 80px;
    width: 101px;
}


@media screen and (max-width:1400px){
    .main-container{
        grid-template-columns: 300px 1fr;
        padding: 20px;
    }

    .sidebar{
         height:90vh;
         background-color: #2a2a2a;
         border: 1px solid #FFBF00;
         border-radius: 20px;
         padding: 20px;
         position: sticky;
         top: 80px;
    
    /* .button{
    
    background-color: #1e1e1e;
    padding: 8px 10px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 80px;
    width: 101px;
} */
    .button{

        margin-top: 60px;
        margin-left: 80px;
        width: 101px;

    }

    }
    
}


@media screen and (max-width: 1024px) {

  .main-container {
    grid-template-columns: 300px 1fr;
    gap: 30px;
  }

  nav {
    justify-content: center;
  }

  .Experience-container {
    grid-template-columns: 1fr;
  }
  .sidebar{
    height:120vh;
    position: static;
     height: 90vh;
    padding: 20px;
    text-align: center;
    border: 1px solid #FFBF00;
  }

  #download {
    
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-left: 2px;
    width: 101px;
  }

    }

@media screen and (max-width: 780px) {
  .main-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 16px;
  }
  .sidebar {
    position: static;
    height: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #FFBF00;
  }
  .profile img {
    width: 100px;
    height: 100px;
  }

  .profile h2 {
    font-size: 1.3rem;
  }

  .profile span {
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
  }

  .contact {
    text-align: center;
  }

  .social img {
    margin: 0 8px;
  }

  /* nav {
    flex-wrap: wrap;
    gap: 10px;
  } */
 nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    border-bottom: 1px solid #FFBF00;
    margin-top: 5px;
    margin-bottom: 20px;

 }
  nav a {
    font-size: 14px;
  }
  .content {
    font-size: 14px;
    line-height: 1.6;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    margin-top: 10px;
  }

  .item:hover {
    transform: none;
    box-shadow: none;
  }

  .edfirst,
  .edsecond {
    padding-left: 20px;
  }

  .Experience-container {
    grid-template-columns: 1fr;
  }
  .Experience-container img{
    object-fit: cover;
    background-size: cover;

}
  .card {
    padding: 16px;
  }

  #download {
    
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-left: 2px;
    width: 101px;
  }
}

